{{ $baseurl := .Site.BaseURL }}
    <div>
        <section id="datecount">
          <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
          <h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
          <h5 id="readtime"> Read in about {{ .ReadingTime }} Min </h5>
        </section>
        <ul id="categories">
          {{ range .Params.topics }}
            <li><a href="{{ $baseurl }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        <ul id="tags">
          {{ range .Params.tags }}
            <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div>
        <section id="prev">
            &nbsp;{{if .Prev}}<a class="previous" href="{{.Prev.Permalink}}"><i class="icon-arrow-left"></i> {{.Prev.Title}}</a><br>{{end}}
        </section><section id="next">
            &nbsp;{{if .Next}}<a class="next" href="{{.Next.Permalink}}">{{.Next.Title}} <i class="icon-arrow-right"></i></a>{{end}}
        </section>
    </div>

    <div> <section id="author"> <h4>About the Author:</h4> 

            <p>
            Jason Jiao is an China Software Engineer, Team Leader & Blog Author
            based in HangZhou. He has start up over 3 companies Tech Stack,hold over many times 
            System Refactoring and Reconstruction which all were enterprise level. 
            </p>

            <p>
            He currently works at <a href="http://schoolpal.cn/">Schoolpal</a> on the leadership team 
            of <a href="https://www.xiaobao100.com/sis">Many Product lines</a> where  he is responsible for the tech stack strategy and architecture of
            system and it's over 20 thousands enterprise users and 4M family users.Also he is one of <bold>Core Partner</bold> of company, which was a Highest Governance of this enterprise
            </p>

            <p>
            He previously held Software develope team at <a href="https://www.chinamobileltd.com/">China Mobile</a>, <a
            href="https://jd.com">JD ltd</a> where he
            led multi lines' tech team and surpporting, testing teams, over 1 hundred members. 
            He formerly was holder of the <a href="https://www.jlab.tech">jLab</a>.
            </p>
            
            <p> 
            He is the creator of some of the projects <a href="http://www.jlab.tech/lll">Life Long Learning</a>, <a
                href="ZA.link">ZA</a>, and many <a
            href="http://github.com/jhfnetboy">more</a>.
            </p>
            
            <p>
            Above all of these accomplishments, he has a dog,called Cherry（樱桃）. 
            Outside of technology Jason likes travel, motor bike, reading, and play games.
            </p>

        </section> </div>
