        <ul id="social">
            <li id="follow">
                <span class="title"> follow </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="https://www.twitter.com/jhfnetboy" target="_blank" title="Follow me on Twitter" class="twitter"><span class="icon icon-twitter"></span>Twitter</a> </li>
                        <li> <a href="https://www.linkedin.com/in/%E4%BC%9A%E5%B3%B0-%E7%84%A6-a3483393/" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> </li>
                        <li> <a href="https://github.com/jhfnetboy" target="_blank" title="GitHub" class="github"><span class="icon icon-github"></span>GitHub</a> </li>
                        <li> <a href="https://www.douban.com/people/gdbme/" target="_blank" title="Douban" class="slideshare"><span class="icon icon-slideshare"></span>Douban</a> </li>
                    </ul>
                    <span class="subcount">Get Creative &amp; Innovations</span>
                </div>
            </li>
        </ul>
